@import "tailwindcss";

html {
    overflow: hidden;
    height: 100%;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--bg-color, black);
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

* {
    transition: color 0.5s ease;
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

span.growing{
    background-color: #fd2c2a;
}